---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div id="container">
        <main>
            <section id="hero">
                <h1>Blog page.</h1>
            </section>
            <ul>
                {
                    allPosts.map((post: any) => (
                        <li>
                            <a href={post.url}>{post.frontmatter.title}</a>
                        </li>
                    ))
                }
            </ul>
        </main>
    </div>
</Layout>
